@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');


body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: #020617;
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    background-position: 0 0,25px 25px;
    background-attachment: fixed;
    background-size: 50px 50px;
    overflow-x: hidden;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container,
.container2,
.container3 {
    text-align: start;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 15px;
    background-color: #232935;
    padding: 5rem 0rem 3rem 2rem;
}

h1{
    margin: -2.5rem 0rem 1rem 1rem;
    font-size: 1.2rem; 
}
form {
    margin: 2.2rem 7rem 0rem 1rem;
}
p{
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    color: rgb(175, 175, 175)
}
input {
    padding: 1rem 7rem 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #232935;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 10px;
    color: white;
    width: 123%;
}

::placeholder {
    color: rgb(105, 105, 105);
}

.div-button {
    margin: 1.5rem 3rem 0rem 1rem;
    text-align: center;
}
.continue {
    padding: 1rem 2.5rem 1rem 2.5rem;
    background: linear-gradient(#8564e6, #6127b7);
    color: white;
    font-family: 'Sora', sans-serif;
    font-size: 0.7rem;
    border: none;
    border-radius: 2rem;
}
button:hover {
    background: linear-gradient(#b064e6, #8727b7);
    color: white;
}
/* add this each time u press continue  */
.hidden {
    display: none;
}

h2 {
    font-size: 1.2rem;
    margin: -2.5rem 5rem 0rem 1rem;
}

.container2 {
    text-align: start;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 15px;
    background-color: #232935;
    padding: 5rem 0rem 3rem 2rem;
}
.topics {
    padding: 1rem 14rem 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #393f4d;
    border: 1px solid #424a5a;
    border-radius: 10px;
    color: rgb(151, 150, 150);
}
#topic2 {
    padding-right: 16.3rem;
}
#topic3 {
    padding-right: 16.7rem;
}
/* Add this in JavaScript to add the colour to the selected topic */
.selected {
    background: linear-gradient(#8564e6, #6127b7);
    color: white;
    font-family: 'Sora', sans-serif;
}

.container3 {
    padding-right: 1rem;
}

h3 {
    margin: -2.5rem 5rem 0rem 0rem;
}

.title,
.topics {
    font-size: 1rem;
}
.title {
    margin-bottom: 0rem;
    color: rgb(151, 150, 150);
}
#email-p {
    margin-top: 0rem;
}
.sum {
    font-size: 1rem;
    color: white;
}
p.title {
    margin-top: 2.5rem;
}
.topics2 {
    background-color: transparent;
    border: none;

}
ul {
    margin-top: 0rem;
}
ul.topics {
       margin-top: -0.8rem; 
}
li {
    color: white;
    background-color: none;
}



@media screen and (min-width: 720px) {
}